.projectsContainer {
    background-color: #f2f2f2;
    z-index: 20;
    position: relative;
    padding: 20px;
    padding-top: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px; /* Add spacing between projects */
}


.imageLeft {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
        "image info";
    gap: 20px; /* Add spacing between image and info */
    align-items: center; /* Center align items */
}

.imageRight {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
        "info image";
    gap: 20px; /* Add spacing between info and image */
    align-items: center; /* Center align items */
}

.projectImage {
    grid-area: image; /* Remove quotes */
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    width: 100%; /* Ensure the image takes full width */
    max-width: 400px; /* Optional: limit the maximum width */
}

.projectInfo {
    grid-area: info; /* Remove quotes */
    text-align: left; /* Align text to the left */
}
