.projectsContainer {
    background-color: #f2f2f2;
    z-index: 20;
    position: relative;
    padding: 20px;
    padding-top: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    box-sizing: border-box;
}


.imageLeft {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
        "image info";
    gap: 40px; 
     
    
}

.imageRight {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
        "info image";
    gap: 20px; 
    
}

.imageLeft, .imageRight {
    max-width: 1500px;
    padding: 20px;
}

.projectImage {
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
    min-width: 300px;
    height: auto; /* Ensure the image scales properly */
    object-fit: cover; /* Ensures the image covers the container without distortion */
    object-position: center;
    
}

.projectInfo {
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.projectInfo p {
    padding-top: 10px;
    font-size: 1.2rem;
    text-align: left;
}

.arrow {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease-in-out;
}

.arrow:hover {
    transform: scale(1.2);
}

.arrowContainerLeft {
    display: flex;
    justify-content: end;
}

.arrowContainerRight {
    display: flex;
    justify-content: start;
}