:root {
    --bg-color: black;
    --typewriterSpeed: .5s;
    --typewriterCharacters: 19;
  }
  
  .hero {
    height: 100vh;
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    transition: opacity 0.3s ease;
  }
  
  .heroImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .heroContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: 'Elianto', sans-serif;
    position: fixed;
    z-index: 1;
    gap: 25px;
  }
  
  .heroTitle {
    font-size: 3rem;
    text-align: center;
    margin: 0;
    padding: 0;
    z-index: 1;
    position: relative;
    font-family: 'Source Code Pro', monospace;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    white-space: normal; /* Allow text to wrap */
    width: auto; /* Adjust width to allow wrapping */
  }

  @media screen and (max-width: 550px) {
    .caret {
      display: none;
    }
    
  }
 
  
  .caret {
    font-size: 3rem;
    animation: blink 1s step-end infinite;
    font-family: 'Source Code Pro', monospace;
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  
  .heroSubtitleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .heroSubtitle {
    font-size: 1rem;
    text-align: center;
    padding: 10px;
    z-index: 1;
    color: white;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
  }
  
  .heroSubtitleContainer span {
    font-family: 'akaDora', sans-serif;
  }
  
  .heroSocialsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    z-index: 1;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2.5s) forwards;
  }
  
  .heroSocialsContainer a {
    width: 24px;
    height: 24px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .heroSocials {
    width: 24px;
    height: 24px;
  }
  
  .heroButton {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: 'elianto', sans-serif;
    margin-top: 50px;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 3s) forwards;
  }
  
  .heroButton:hover {
    background-color: black;
  }
  
  .scrollButton {
    width: 30px;
    height: 60px;
    border: 2px solid white;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 1;
  }
  
  .scrollButton:hover {
    background-color: black;
  }
  
  .scrollButton::before {
    content: '';
    border: solid rgba(255, 255, 255, 0.5);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(45deg);
    transition: transform 0.3s ease;
  }
  
  .scrollButton:hover::before {
    transform: rotate(45deg) scale(1.2);
    border: solid white;
    border-width: 0 2px 2px 0;
  }
  
  .blackScreen {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
  }
  
  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  