.footer {
    background-color: black;
    text-align: center;
    padding: 10px;
    bottom: 0;
    z-index: 100;
    position: relative;
    display: flex;
    flex-direction: column;
}

.footerText {
    color: white;
    font-size: 16px;
    margin: 0;

}

.heroSocials {
    width: 24px;
    height: 24px;
    margin: 10px;
    
  }